<article class="discipline-preview">
  <tui-island>
    <p class="tui-island__category">Сейчас Идёт</p>
      <h3 class="discipline-preview__title">
        Философия 
        <tui-badge
          status="info"
          value="Семинар"
          class="tui-space_right-2 tui-space_bottom-2 discipline-preview__badge"
        ></tui-badge>
      </h3>
    <h5 class="discipline-preview__subtitle">Иванов И.И.</h5>
    <div class="discipline-preview__accordion">
      <app-accordion />
    </div>
  </tui-island>
</article>
