<section class="table">
  <div class="disciplines__table-container">
    <table class="tui-table disciplines__table" tuiTable>
      <thead>
        <tr>
          <th class="tui-table__th" tuiTh>Тип дисциплины</th>
          <th class="tui-table__th" tuiTh>Корпус</th>
          <th class="tui-table__th" tuiTh>Аудитория</th>
          <th class="tui-table__th" tuiTh>Преподаватель</th>
          <th class="tui-table__th disciplines__table_th-icon" tuiTh></th>
          <th class="tui-table__th disciplines__table_th-icon" tuiTh></th>
        </tr>
      </thead>
      <tbody tuiTbody>
        <tr class="tui-table__tr">
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>
                Лекция
              </span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Главный корпус</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>306-С</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Иванов И.И.</span>
            </div>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <tui-svg src="tuiIconEdit2"></tui-svg>
            </span>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <button
                appearance="link"
                icon="tuiIconTrash2"
                size="xs"
                tuiIconButton
              >
                Delete
              </button>
            </span>
          </td>
        </tr>
        <tr class="tui-table__tr">
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>
                Лекция
              </span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Главный корпус</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>306-С</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Иванов И.И.</span>
            </div>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <button
                appearance="link"
                icon="tuiIconEdit2"
                size="xs"
                tuiIconButton
              >
                Edit
              </button>
            </span>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <button
                appearance="link"
                icon="tuiIconTrash2"
                size="xs"
                tuiIconButton
              >
                Delete
              </button>
            </span>
          </td>
        </tr>
        <tr class="tui-table__tr">
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>
                Лекция
              </span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Главный корпус</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>306-С</span>
            </div>
          </td>
          <td class="tui-table__td" tuiTd>
            <div>
              <span tuiTitle>Иванов И.И.</span>
            </div>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <button
                appearance="link"
                icon="tuiIconEdit2"
                size="xs"
                tuiIconButton
              >
                Edit
              </button>
            </span>
          </td>
          <td tuiTd class="disciplines__table_td-icon">
            <span tuiStatus>
              <button
                appearance="link"
                icon="tuiIconTrash2"
                size="xs"
                tuiIconButton
              >
                Delete
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>