<section class="discipline" *tuiLet="discipline$ | async as discipline">
  <div class="discipline__left-side">
    <h1 class="discipline__title">
      {{ discipline?.name }}<tui-svg class="discipline__icon" src="tuiIconEdit2"></tui-svg>
    </h1>

    <div class="discipline__tags">
      @for (tag of discipline?.tags; track $index) {
      <span class="discipline__tag">{{ tag }}</span>
      }
    </div>
    <p class="discipline__univercity">{{ discipline?.organization }}</p>
    <p class="discipline__description">
      {{ discipline?.description }}
    </p>
    <app-discipline-table class="discipline__table" />
  </div>
  <div class="discipline__right-side">
    <h2 class="discipline__title discipline__title_with-margin">
      Полезные файлы
    </h2>
    <div class="accordion">
      <app-accordion [files]="discipline?.files || []" />
    </div>
  </div>
</section>
<router-outlet />
